<header>
    <nav>
        <a class="nav-logo " href="/">Revisão Automotiva</a>
        <ul class="nav-links">
            <li><a href="/login/index">Login</a></li>
        </ul>
        <a href="/contact/index" class="button-contact"><button>Contato</button></a>
    </nav>
</header>