<%- include('includes/head') %>
<%- include('includes/nav') %>

<section >
    <div class="content-contact">
      <h2>Contato</h2>
      <p>Entre em contato via: </p>
      <p>contato@autocenterbraga.online</p>
      <p>(61) 994097475</p>
      <a href="https://wa.me/5561994097475" class="button-whats"><button>Whatsapp</button></a>
      <a href="https://www.instagram.com/autocenterbraga/" class="button-insta"><button>Instagram</button></a>
    </div>
  
  </section>
  <section>
  
      <div class="content map">
          <h4>Ou vá até nossa loja</h4>
          <br>
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.804444360136!2d-48.06725588535541!3d-16.07563453421719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9359819cb1c000a1%3A0x553fa83a090b39d0!2sAuto%20Center%20Braga!5e0!3m2!1spt-BR!2sbr!4v1654182018504!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  </section>

<%- include('includes/footer') %>
