<%- include('includes/head') %>
<%- include('includes/nav') %>


<section class="white-bg">
  <div class="content">
    <h2>Auto Center Braga</h2>
    <p>Se você já é nosso cliente, faça o seu login ou entre em contato.</p>
    <a href="/login/index" class="button-login"><button>Login</button></a>
    <a href="/contact/index" class="button-contact"><button>Contato</button></a>
  </div>
</section>

<%- include('includes/footer') %>
